body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: pink;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  background-color: #FFFFFF50;
}
button:hover {
  background-color: #FFFFFF75;
}
button:active {
  background-color: #FFFFFF00;
}
button.hidden {
  display: none;
}

div.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 3rem;
}
div.container div.game-over {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 5px solid black;
  position: fixed;
  top: calc(50% - 10vh);
  min-height: 20vh;
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.75);
}
div.container div.game-over h2 {
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}
div.container div.title {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 3rem;
}
div.container div.title h1 {
  padding: 0;
  margin: 0;
}
div.container div.title button#return-button {
  position: absolute;
  left: -30%;
}
div.container div.title button#restart-button {
  position: absolute;
  right: -30%;
}
div.container div.start-screen {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 50%;
}
div.container div.start-screen button {
  border-radius: 3rem;
  font-size: 1.5rem;
  padding: 2rem;
}
div.container div.settings-screen {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
div.container div.settings-screen h1 {
  text-align: center;
  padding: 0;
  margin: 0;
}
div.container div.settings-screen input {
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 2rem;
}
div.container div.settings-screen button {
  padding: 1rem;
  border-radius: 3rem;
  font-size: 1.2rem;
}
div.container div.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 3rem;
  width: 100%;
}
div.container div.game div > p {
  font-size: 1.5rem;
}
div.container div.game div.timer, div.container div.game div.chicken-counter {
  flex: 1;
}
div.container div.game div.timer {
  text-align: right;
}
div.container div.game div.field {
  outline: 3px solid black;
  display: flex;
  max-height: 80vh;
  max-width: 80vh;
  overflow: auto;
}
div.container div.game div.field div.row {
  display: flex;
  flex-direction: column;
}
div.container div.game div.field div.row div.column {
  min-height: 2rem;
  min-width: 2rem;
  display: flex;
  border: 2px solid gray;
  background-color: white;
  justify-content: center;
  align-items: center;
}
div.container div.game div.field div.row div.column p {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  padding: 0;
  margin: 0;
}
div.container div.leaderboard-container {
  width: 60vw;
  position: relative;
}
div.container div.leaderboard {
  display: flex;
  position: absolute;
  padding-bottom: 3rem;
  left: 0;
  transition: left 1s;
  transition-timing-function: ease-in-out;
}
div.container div.leaderboard.inactive {
  left: -200%;
}
div.container div.leaderboard#times {
  left: 200%;
}
div.container div.leaderboard#times.active {
  left: 0;
}
div.container div.leaderboard div.table {
  display: flex;
  flex-direction: column;
  width: 60vw;
  border: 3px solid black;
  border-radius: 2rem 2rem 0 0;
}
div.container div.leaderboard div.table div.head {
  display: flex;
  position: relative;
  font-size: 2rem;
  border-bottom: 2px solid black;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
div.container div.leaderboard div.table div.head div.back-button {
  position: absolute;
  left: 5%;
}
div.container div.leaderboard div.table div.head div#mode {
  position: absolute;
  right: 5%;
  font-size: 1rem;
}
div.container div.leaderboard div.table div.top {
  border-bottom: 2px solid black;
  background-color: #FFFFFF20;
}
div.container div.leaderboard div.table div.top, div.container div.leaderboard div.table div.category-listing div.category {
  display: flex;
  flex-direction: row;
}
div.container div.leaderboard div.table div.top div.width-row, div.container div.leaderboard div.table div.top div.height-row, div.container div.leaderboard div.table div.top div.odds-row, div.container div.leaderboard div.table div.top div.next, div.container div.leaderboard div.table div.category-listing div.category div.width-row, div.container div.leaderboard div.table div.category-listing div.category div.height-row, div.container div.leaderboard div.table div.category-listing div.category div.odds-row, div.container div.leaderboard div.table div.category-listing div.category div.next {
  padding: 1rem;
}
div.container div.leaderboard div.table div.top div.width-row, div.container div.leaderboard div.table div.top div.height-row, div.container div.leaderboard div.table div.top div.odds-row, div.container div.leaderboard div.table div.category-listing div.category div.width-row, div.container div.leaderboard div.table div.category-listing div.category div.height-row, div.container div.leaderboard div.table div.category-listing div.category div.odds-row {
  width: 30%;
}
div.container div.leaderboard div.table div.top div.next, div.container div.leaderboard div.table div.category-listing div.category div.next {
  width: 10%;
}
div.container div.leaderboard div.table div.category-listing div.category:nth-child(even) {
  background-color: #00000010;
}
div.container div.leaderboard div.table div.category-listing div.category div.next {
  display: flex;
  justify-content: flex-end;
}
div.container div.leaderboard div.table div.top div.place {
  width: 10%;
}
div.container div.leaderboard div.table div.top div.time {
  width: 70%;
}
div.container div.leaderboard div.table div.top div.time > p, div.container div.leaderboard div.table div.top div.place > p {
  margin: 0;
  padding: 1rem;
}
div.container div.leaderboard div.table div.scores {
  display: flex;
  flex-direction: row;
}
div.container div.leaderboard div.table div.scores div.times div.time, div.container div.leaderboard div.table div.scores div.times div.place, div.container div.leaderboard div.table div.scores div.places div.time, div.container div.leaderboard div.table div.scores div.places div.place {
  padding: 1rem;
}
div.container div.leaderboard div.table div.scores div.times div.time:nth-child(even), div.container div.leaderboard div.table div.scores div.times div.place:nth-child(even), div.container div.leaderboard div.table div.scores div.places div.time:nth-child(even), div.container div.leaderboard div.table div.scores div.places div.place:nth-child(even) {
  background-color: #00000010;
}
div.container div.leaderboard div.table div.scores div.places {
  width: 10%;
}
div.container div.leaderboard div.table div.scores div.times {
  width: 90%;
}
div.container div.hidden {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
